#content {
  text-align: center;
  padding-top: 225px;
}

body {
  margin: 0;
}

.landing {
  margin: 0;
  background : url(/homePageBackground.jpg);
  background-size: cover;
  height: 100vh;
}

hr {
  width: 700px;
}

#goBtn {
  border: 1px solid black;
}

.actionBtn {
  float: left;
  width: 90%;
  margin: 10px auto;
  color: #2196f3;
  text-decoration: none;
  background-color: transparent;

}

#controlPg {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #F7F7F7, #FFFFFF);
}

.bar {
  background-color: #f2f2f2;
}

.key {
  padding: 10px;
  margin: 5px;
  float: left;
  width: 30%;
  height: 60px;
  text-align: center;
  background: #f2f2f2;
  border: 2px solid ##2196F3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#control {
  padding-top: 75px;
}
.invisible {
  background: transparent;
}
